@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

hr{
    width: 80%;
    background-color: black;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

p, li{
    font-weight: 500;
}

h3{
    color: rgb(0, 165, 0);
    margin-top: 25px;
}

h4{
    color: rgb(25, 25, 255);
}

h2, h3, h4, p{
    margin-left: 20px;
}