@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 55vw;
    margin: 0 auto;
    border: 3px solid black;
    padding: 2rem;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
}

hr {
    width: 70%;
    margin-left: 0;
    border: 1px solid black;
}

p, li{
    font-weight: 500;
}

h3{
    color: rgb(50, 168, 50);
    margin-top: 25px;
}

h4{
    color: rgb(53, 53, 255);
}
